body {print-color-adjust: exact;}

#div_insert_container {
    width:5.5in;
    border:5px solid black;
    text-align:center;
}
#div_insert_container > div {
    text-align: center;
    border-bottom:1px solid black;
}
#div_insert_container > div {
    display:flex;
}
#div_library_id_connection_info {
    font-size:1.1em;
}
#div_library_id {
    width:50%;
    border:1px solid black;
}
#div_ssid_password {
    width:50%;
    border:1px solid black;
}
#please_return_label {
    width:50%;
    border:1px solid black;
}
#div_codabar {
    justify-content: center;
}
#div_codabar_image > img {
    height: 0.5in;
    width: 1.82in;
}
#div_main_instructions {
    min-height:3.5in;
}
#div_main_instructions div {
    text-align:left;
}
#div_instructions_section1 {
    width:55%;
}
#div_instructions_section2 {
    width:45%;
    border-left: 1px solid black;
}
#div_instructions_section2 > div {
    border-bottom:1px solid black;
}
#div_device_instructions  {
    transform:rotate(180deg);
    justify-content: left;
}
#div_device_instructions_text  {
    text-align: left;
    width:60%;
}
#div_device_instructions_photo {
    text-align:center;
    width:40%;
}
#div_device_instructions_photo > img {
    height:1in;
}
#div_agreement {
    background-color:red;
    color:white;
    text-align:right;
}
#div_agreement > div {
    text-align:left;
}

#div_wifi2go_logo  {
    text-align:right;
}
#div_wifi2go_logo > img {
    width:1.66in;
    height:0.73in;   
}


#div_labels {
    margin-top:.5in;
    display:flex;
}

#div_labels > div {
    width:2in;
    border:5px solid black;
    text-align:center;

}

#div_library_label {
    margin-top:.5in;
    display:flex;
}


#div_library_label > div {
    width:2in;
    border:5px solid black;
    text-align:center;

}

#div_connection_label_ssid {
    font-weight:bold;
}

#div_connecton_label_password {
    font-weight: bold;
    font-size:16pt;
}

#div_return_label_text {
    font-weight:bold;
}

#div_barcode_label_library_id {
    font-size: 4.5pt;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
}
#div_barcode_label_img > img {
    width: 1.8in;
    height: .25in;
}
#div_barcode_label_number {
    font-size: 8pt;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
}
div.separator {
    min-height: .25in;
}

#div_form {
    margin-top:1in;
}
form > div {
    display:flex;
}
form > div > div {
    padding-right:1em;
}

@media print {
    #div_form {
        display:none;
    }
}
